@-webkit-keyframes animate {
    from { background-position: 0 0; }
    to { background-position: 0 -1700px; }
}

#potato {
    position: absolute;
    width: 290px;
    height: 340px;
    background-image: url("../img/potato_sprite.png");
    -webkit-animation: animate 1s steps(5, end) infinite;
}